name: Push to Mirror

on:
  push:
    branches: [ "main" ]

jobs:
  push_to_mirror:
    if: github.repository == secrets.SHORT_REPO_URL
    name: Push to Mirror
    runs-on: ubuntu-latest
    container:
      image: epitechcontent/epitest-docker
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Mirror
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
          target_repo_url: ${{ secrets.MIRROR_URL }}